<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>French Military Game Online</title>
    <script src="https://www.gstatic.com/firebasejs/5.5.5/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/firebaseui/3.4.1/firebaseui.js"></script>
    <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/3.4.1/firebase-ui-auth.css" />   
    <script src="/js/firebase.js"></script>
    {{!-- <script src="/js/modal.js"></script> --}}
    {{!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css"> --}}
    <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
  </head>
  <body>
    {{{body}}}
<div class="modal-overlay closed" id="modal-overlay"></div>

<div class="modal closed" id="modal">
  <button class="close-button" id="close-button">Close</button>
  <div class="modal-guts">
    <h1>Sign In</h1>

    <div id="sign-in-status"></div>
    {{!-- <div id="sign-in"></div> --}}
    {{!-- <div id="account-details"></div> --}}
    <div id="firebaseui-auth-container"></div>

      </div>
</div>

{{!-- <button id="open-button" class="open-button">Open Button</button> --}}
<script src="/js/modal.js"></script>

  </body>
</html>


{{!-- <!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
  <title>Home Page</title>
</head>

<body>
  {{{body}}}
</body>

</html> --}}
